:root {
    --color-primary-50: #DCF4F3;
    --color-primary-100: #C8EEEC;
    --color-primary-200: #A1E2DE;
    --color-primary-300: #7BD5D1;
    --color-primary-400: #54C9C3;
    --color-primary-500: #38B2AC;
    --color-primary-600: #2C8B87;
    --color-primary-700: #206461;
    --color-primary-800: #133E3C;
    --color-primary-900: #071716;
}
